@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat"),
    url(./assets/Fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: bold;
}
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Bold";
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Bold";
}
main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
